/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header img {
    height: 150px;
    vertical-align: middle;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Стиль контенту */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Стиль підвалу */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px;
}

